<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
   >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseTracker">
        <!-- 首页 Dashboard -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 极速录入弹窗：绑定半透明主题，拦截 NFC -->
<!--        <activity-->
<!--            android:name=".QuickLogActivity"-->
<!--            android:theme="@style/Theme.TransparentQuickLog"-->
<!--            android:launchMode="singleTask"-->
<!--            android:exported="true">-->

<!--            &lt;!&ndash; 核心：拦截 NFC NDEF 消息，碰一碰直接唤醒 &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.nfc.action.NDEF_DISCOVERED" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                &lt;!&ndash; 预设你的贴纸写入的域名，例如：https://log.me/expense &ndash;&gt;-->
<!--                <data-->
<!--                    android:host="log.me"-->
<!--                    android:pathPrefix="/expense"-->
<!--                    android:scheme="https" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".QuickLogActivity"
            android:theme="@style/Theme.TransparentQuickLog"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_list" />
        </activity>

    </application>

</manifest>